.alignHeight{
    height: 50% !important;
    align-items: center;
    display: flex;
    justify-content: center;
}
.errorTitle{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.errorSubtitle{
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.alignLink{
    text-align: center;
}