<div class="outerLayer">
    <mat-card class="overAllContainer">
        <mat-card-title class="tittleAlignment">{{'LOGIN_LABEL' | translate}}</mat-card-title>
        <div class="imageSizing">
            <img src='../../../sample/assets/images/Profile-Male-PNG.png' class="imageStyle">
        </div>
        <mat-card-content class="dFlexCloumn">
            <div class="selectFieldalign">
                <app-language-select></app-language-select>
            </div>
            <form [formGroup]="userDetails" class="dFlexCloumn" #triggerForm="ngForm" (keydown.enter)="triggerSubmit()"
                (ngSubmit)="loginFn()">
                <mat-form-field appearance="outline">
                    <mat-label>{{'USER_NAME_LABEL' | translate}}</mat-label>
                    <input matInput formControlName="userName">
                    <mat-error>{{'USER_NAME_REQUIRED' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{'PASSWORD_LABEL' | translate}}</mat-label>
                    <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error>{{'PASSWORD_REQUIRED' | translate}}</mat-error>
                </mat-form-field>
                <div *ngIf="checkError" class="checkError">
                    {{'ENTER_VALID_CREDENTIALS' | translate}}
                </div>
                <div class="btnAlign">
                    <button mat-button mat-raised-button color="primary" (click)="loginFn()">{{'SUBMIT_LABEL' |
                        translate}}</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>